.scrollButtonContainer{
    width: 50px;
    height: 50px;
    background-color: var(--dark);
    border-radius: 5px;
    position: fixed;
    bottom: 60px;
    right: 5%;
    z-index: 950;
    transition: all 0.3s;
    cursor: pointer;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 90%;
    background-position-y: 43%;
    opacity: 70%;
}

.hidden{
    pointer-events: none;
    opacity: 0;
}