.whoContainer {
    width: 100%;
    height: calc(100vh - var(--nav_height));
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    position: relative;
}

.whoContainer::before{
    content: '';
    position: absolute;
    width: 100vw;
    top: 0;
    bottom: 0;
    background-color: var(--secondary);
    z-index: 0;
    transform: translate(calc(-0 * calc(100vw - 1360px)));
}

.title {
    color: white;
    font-size: 54px;
    margin: 0;
}

.text {
    color: white;
    font-size: 18px;
    text-align: center;
    margin-bottom: 50px;
}

.itemsContainer {
    display: flex;
    gap: 40px;
    height: 300px;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.itemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 0.3s;
}

.itemContainer:hover{
    transform: scale(1.03);
}


.itemText {
    background-color: rgba(18, 30, 44, 0.5);
    padding: 20px 0;
    margin: 0;
    transition: all 0.3s;
}

.itemContainer:hover .itemText{
    background-color: rgba(18, 30, 44, 0.8);
}

@media screen and (max-width: 772px){
    .whoContainer {
        height: auto;
        
    }

    .itemsContainer{
        justify-content: center;
        flex-wrap: wrap;
        height: auto;
    }
    
    .itemContainer {
        width: 65%;
        aspect-ratio: 1.5/1;
    }
}

@media screen and (max-width: 500px){
    .title{
        font-size: 42px;
    }

    .text{
        font-size: 16px;
    }

    .itemText{
        font-size: 14px;
    }

    .itemContainer {
        width: 90%;
        aspect-ratio: 1.5/1;
    }
}